@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,200;1,300;1,500;1,600&display=swap');

.title {
    font-family: 'Rajdhani', sans-serif;
    color: #EEEEEE;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btnCreator {
    background-color: transparent;
    color: #EEEEEE;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    font-weight: 600;
    border: 2px solid #EEEEEE;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 10px;
}

.btnCreator:hover {
    background-color: #00ADB5;
    border: 2px solid #00ADB5;
}

.subTitle {
    font-family: 'Rajdhani', sans-serif;
    color: #EEEEEE;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.inputField {
    width: 100%;
    border-radius: 5px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    padding: 10px;
}

.inputDesc {
    font-family: 'Montserrat', sans-serif !important;
}

.inputTitle {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 24px;
}